<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PicoDrone Live Dashboard</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">
        <h1>PicoDrone Live Telemetry</h1>

        <button id="connectBtn">Connect to Drone</button>
        <div id="connectStatus" class="status">Press the button to connect</div>
        <div style="display: flex;">
            <div style="display: flex; margin-right: 5%; align-items: center;">
                <div class="label" style="padding-right: .8em;">Last Update</div>
                <div class="value" id="timestamp">--:--:--</div>
            </div>
            <div style="display: flex; align-items: center;">
                <div class="label" style="padding-right: .8em;">Battery Level</div>
                <div class="value" id="battery">--%</div>
            </div>



        </div>

        <div>
            <p id="keyDisplay"></p>
        </div>
        <div class="panel-motors">

            <div>
                <div class="gauge">
                    <div class="progress">
                        <div class="meter-value">
                            <p id="speed-value-0">0</p>
                        </div>

                        <div class="bar"></div>
                    </div>
                </div>
                <input type="range" min="0" max="100" value="0" class="slider" id="myRange_0">
            </div>

            <div>
                <div class="gauge">
                    <div class="progress">
                        <div class="meter-value">
                            <p id="speed-value-1">0</p>
                        </div>
                        <div class="bar"></div>
                    </div>
                </div>
                <input type="range" min="0" max="100" value="0" class="slider" id="myRange_1">
            </div>
            <div>
                <div class="gauge">
                    <div class="progress">
                        <div class="meter-value">
                            <p id="speed-value-2">0</p>
                        </div>

                        <div class="bar"></div>
                    </div>
                </div>
                <input type="range" min="0" max="100" value="0" class="slider" id="myRange_2">
            </div>
            <div>
                <div class="gauge">
                    <div class="progress">
                        <div class="meter-value">
                            <p id="speed-value-3">0</p>
                        </div>

                        <div class="bar"></div>
                    </div>
                </div>
                <input type="range" min="0" max="100" value="0" class="slider" id="myRange_3">
            </div>



        </div>


        <div class="grid">
            <div class="panel">
                <div class="label">Acceleration (g)</div>
                <div>X: <span class="value" id="ax">0.000</span></div>
                <div>Y: <span class="value" id="ay">0.000</span></div>
                <div>Z: <span class="value" id="az">0.000</span></div>
            </div>

            <div class="panel">
                <div class="label">Gyroscope (°/s)</div>
                <div>X: <span class="value" id="gx">0.000</span></div>
                <div>Y: <span class="value" id="gy">0.000</span></div>
                <div>Z: <span class="value" id="gz">0.000</span></div>
            </div>
        </div>

        <div class="panel status" id="level">Board status: —</div>
    </div>

    <script src="/static/keyhandler.js"></script>
    <script src="/static/app.js"></script>


</body>

</html>